<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Auth.master.cs" Inherits="M4Website.Auth" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <asp:ContentPlaceHolder runat="server" ID="TitleContent" />
    </title>

     <webopt:bundlereference runat="server" path="~/Content/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Css/style.css" rel="stylesheet" runat="server" />
    <link href="Account/style.css" rel="stylesheet" />

    <style>
        body {
            background: #f4f4f4;
            font-family: 'Segoe UI', Arial, sans-serif;
            margin: 0;
            width: 100vw;
            height: 100vh;
        }

        .auth-container {
            max-width: 100%;
            padding: 40px;
            background: #f8f9fa;
            border-radius: 12px;
            box-shadow: 0 3px 12px rgba(0,0,0,0.12);
        }

        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<script src="https://cdn.botpress.cloud/webchat/v3.3/inject.js"></script>
<script src="https://files.bpcontent.cloud/2025/11/01/07/20251101073828-MLTB985H.js" defer></script>

<!--Bootstrap Link-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>

<body>
    <form runat="server">
        <div class="flex-container">
            <asp:ContentPlaceHolder runat="server" ID="MainContent" />
        </div>
    </form>
</body>
</html>