<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Man.Master.cs" Inherits="M4Website.Man" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Css/style.css" rel="stylesheet" runat="server" />
    <link href="Account/style.css" rel="stylesheet" />
</head>
<script src="https://cdn.botpress.cloud/webchat/v3.3/inject.js"></script>
<script src="https://files.bpcontent.cloud/2025/11/01/07/20251101073828-MLTB985H.js" defer></script>
<body class="bg-light">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <form id="form1" runat="server">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container container-fluid">
                <a class="navbar-brand" runat="server" href="~/Manager/Reports.aspx">
                    <img src="Img/473274523_586297030901336_8325680968642440168_n-removebg-preview-transformed.png" class="d-inline-block align-text-top brand" />
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" runat="server" href="/Manager/Reports"><i class=""></i>Sales Reports</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/Manager/OrdersManangement.aspx"><i class=""></i>Order Manangement</a></li>
                         <li class="nav-item"><a class="nav-link" runat="server" href="~/Account/Logout.aspx"><i class=""></i>Log Out</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>